* {
  box-sizing: border-box;
}

body {
  background-color: #f9f9fd;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.thumb {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.label{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 8px 16px;
  border-bottom-left-radius: 4px;
  font-size: 20px;
  background-color: #2196f3;
  color: #fff;
}