body{
	
	background-image: url('.././img/barber.png');
	background-repeat: no-repeat;
	/*background-position: right 30px top 20px;*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}

a::before {
  content: "♥";
}

a::after {
  content: "♥♥♥";
}

